<html>
  <head>
    <title>World Cup: Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        padding: 8px;
        background-color: #dddddd;
    }
  </style>
  </head>
  <body>
    <div class="container">
      <ul>
        <li><a href="/highscore">Highscore</a></li>
        <li><a href="/predictions">Predictions</a></li>
      </ul>
      <br>
      <div class="panel panel-info">
        <div class="panel-heading">
          World Cup Games:
        </div>
        <div class="panel-body">
          <form action="/bet" method="POST">
            {{if .Matches}}
              {{range .Matches}}
                {{.Host}} - {{.Guest}}: <input type="text" name="{{.ID}}" size="3" pattern="[0-9]+:[0-9]+">
                <br><br>
              {{end}}
              <input type="submit" value="Bet!">
            {{else}}
              No more matches for today.
            {{end}}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
