<html>
  <head>
    <title>World Cup: Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  </head>
  <body>
    <form action="/login" method="post">
      <label>Username</label>
      <input type="text" name="username"><br>
      <label>Password</label>
      <input type="password" name="password"><br>
      <input type="submit" value="Login">
    </form> or <a href="/register">register.</a>
  </body>
</hmtl>
